### 1] Write a function to find the second largest element in a given list.

In [3]:
def second_largest(list):
    n = len(list)
    
    for i in range(n):
        min = i

        for j in range(i+1,n):
            if list[j] < list[min]:
                min = j

        temp = list[min]    
        list[min] = list[i]
        list[i] = temp


    print(list[n-2])

In [4]:
example = [2,4,7,1,5]
second_largest(example)

5

### 2] Write a function to check if a given string is a palindrome.

In [5]:
def palindrome(word):
    n = len(word)
    result = 0

    for i in range(n): 
        if word[i] != word[n-i-1]:
            result = 1

    if result == 0:
        print("Entered string is a palindrome")
    else:
        print("Entered string is not a palindrome")

In [6]:
string = input("Enter the Word: ")
palindrome(string)

Enter the Word: madam
Entered string is a palindrome

### 3] Write a function to find the common elements between two lists.

In [7]:
def common_elements(list1, list2): 
    n1 = len(list1)
    n2 = len(list2)
    
    for i in range(n1):
        for j in range(n2):
            if list1[i] == list2[j]:
                print(list1[i])
                
    print("These elements are common in both the lists")

In [8]:
example1 = [1,2,3,4,5]
example2 = [3,4,5,6,7,8]

common_elements(example1, example2)

3
4
5
These elements are common in both the lists

### 4] Implement a function to remove duplicates from a list while preserving the original order.

In [37]:
def remove_duplicates(list):
    
    unique_list = []
    unique_list.append(list[0])
    n = len(list)
    
    for i in range(1,n):        
        if list[i] not in unique_list:
            unique_list.append(list[i])

    print(unique_list)

    
#     list_set = set(list1)
#     unique_list = list(list_set)
#     print(unique_list)

In [12]:
nums = [1,1,2,3,3,6,6,4,4,2,1,5,3,5]
unique = []
for element in nums:
    if element not in unique:
        unique.append(element)
a = len(unique)
print(unique)

[1, 2, 3, 6, 4, 5]

In [30]:
class Solution:
    def reverse(x: int) -> int:
        INT_MAX = 2**31 - 1  # Maximum 32-bit signed integer value
        INT_MIN = -2**31     # Minimum 32-bit signed integer value

        # Handle negative numbers and store the sign
        sign = 1
        if x < 0:
            sign = -1
            x = -x

        reversed_num = 0

        while x > 0:
            remainder = x % 10
            reversed_num = reversed_num * 10 + remainder
            x //= 10
            
            if reversed_num > (INT_MAX - remainder) // 10:
                return 0  # Overflow check

        return sign * reversed_num

In [31]:
print(Solution.reverse(12345678987543))

0

In [38]:
example = [1,1,2,3,3,6,6,4,4,2,1,5,3,5]
remove_duplicates(example)

[1, 2, 3, 6, 4, 5]

### 5] Write a function to find out unique elements in list1 which are not in list2.

In [19]:
def find_unique_elements(list1, list2):
    unique_elements = []
    
    for element in list1:
        if element not in list2 and element not in unique_elements:
            unique_elements.append(element)
            
    print(unique_elements)

In [20]:
example1 = [1,2,3,4,5]
example2 = [3,1,4,5,6,7,8]

find_unique_elements(example1, example2)

[2]

### 6] Write a function to find out unique elements from both list in python.

In [43]:
def unique_elements(list1, list2):
    
    unique = []
    
    for element in list1:
        if element not in unique:
            unique.append(element)
            
    for element in list2:
        if element not in unique:
            unique.append(element)
            
    print(unique)

In [44]:
example1 = [1,3,4,2,1,3,4,5]
example2 = [5,6,2,4,1,7,6,9,5]

unique_elements(example1, example2)

[1, 3, 4, 2, 5, 6, 7, 9]

### 7] List 1 has 1,2,3 List 2 has 4,5,6
### Output should be element wise multiplication [4, 10, 18]

In [55]:
def element_wise_multiplication(list1, list2):
    
    output = [x * y for x, y in zip(list1, list2)]
    print(output)

In [56]:
example1 = [1,2,3]
example2 = [4,5,6]

element_wise_multiplication(example1, example2)

[4, 10, 18]

### 8] Implement a function to reverse a given list in place.

In [7]:
def reverse(list):
    n = len(list)
    newlist = []
    
    for i in range(n):
        newlist.append(list[n-i-1])
    print(newlist)
    
#     list.reverse()
#     print(list)

In [8]:
example = [1,2,3,4,5]
reverse(example)

[5, 4, 3, 2, 1]

### 9] Write a Python program to find the sum of all elements in a list.

In [5]:
def sum_of_elements(list):
    a = 0
    for i in list:
        a = a + i
    return a
    
#     total = sum(list)
#     return total

In [6]:
example = [1,2,3,4,5]
sum_of_elements(example)

15

### 10] Write a function to check if a given number is prime.

In [12]:
def prime(num):
    
    if num == 1:
        return False
    else:
        for i in range(2, int(num**0.5)+1):
            if num % i == 0:
                return False
    return True

# (num**0.5) is used to find squareroot, +1 is used to inclue squareroot also

In [13]:
n = int(input("Enter the number: "))

if prime(n):
    print(n, "is a prime number")
else:
    print(n, "is not a prime number")

Enter the number: 5
5 is a prime number

### 11] Implement a Python function to reverse a string.

In [18]:
def string_reverse(word):
    reversed_word = word[::-1]  # Using string slicing to reverse the word
    return reversed_word

In [19]:
string = input("Enter the String: ")
string_reverse(string)

Enter the String: laxman

'namxal'

### 12] Write a program to find the factorial of a given number.

In [24]:
def factorial(num):
    result = 1
    
    for i in range(1, num+1):
        result = result * i
    return result

In [25]:
n = int(input("Enter the number: "))
factorial(n)

Enter the number: 4

24

### 13] Write a Python program to find the maximum and minimum elements in a list.

In [35]:
def min_max(list):
    
    n = len(list)
    
    for i in range(n):
        min = i
        
        for j in range(i+1,n):
            if list[j] < list[min]:
                min = j
                
        temp = list[i]
        list[i] = list[min]
        list[min] = temp
    
    print("The maximum element is: ", list[n-1])
    print("The minimum element is: ", list[0])

In [36]:
example = [1,5,8,9,3,2,6,7]
min_max(example)

The maximum element is:  9
The minimum element is:  1

### 14] Implement a Python function to count the number of words in a string.

In [43]:
def count_words(sentence):
    result = sentence.split()
    return len(result)

In [44]:
string = input("Enter the string: ")
count_words(string)

Enter the string: I am completing the task Pratiksha has given me

9

### 15] Write a program to calculate the Fibonacci sequence up to a given number.

In [51]:
def fibonacci(num):
    sequence = []
    
    if num==1:
        sequence.append(0)
    elif num==2:
        sequence.append(1)
    else:
        sequence = [0,1]
        while len(sequence) <= num:
            result = sequence[-1] + sequence[-2]
            sequence.append(result)
    
    return sequence

In [52]:
n = int(input("Enter the number: "))
fibonacci(n)

Enter the number: 5

[0, 1, 1, 2, 3, 5]

In [50]:
list = [1,2,3,4,5,6]
print(list[-1])

6

### 16] List = [10,20,30,40] find missing numbers from the list in python. 
### Output:                                                                                       Missing numbers: [11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39]

In [11]:
def missing_numbers(list):
    result = []
    n = len(list)
    
    for i in range(list[0], list[n-1]):
        if i not in list and i not in result:
            result.append(i)
            
    print(result)

In [12]:
example = [10,20,30,40]
missing_numbers(example)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39]

### 17] Write a function to find duplicate elements in list.

In [14]:
def duplicates(list):
    repeated = []
    unique = []
    
    for element in list:
        if element in unique:
            repeated.append(element)
        else:
            unique.append(element)
            
    return repeated

In [15]:
example = [1, 2, 3, 4, 2, 5, 4, 6, 7, 8, 1, 3]
duplicates(example)

[2, 4, 1, 3]

### 18] How to read images files in python.

In [2]:
from PIL import Image
image = Image.open('Sidhu.jpg')
image.show()

### 19] Merge 2 Dataframes

In [2]:
import pandas as pd

df1 = pd.DataFrame({'ID': [1, 2, 3, 4], 'Name': ['John', 'Alice', 'Bob', 'Jane']})
df2 = pd.DataFrame({'ID': [2, 3, 4, 5], 'Age': [25, 30, 35, 40]})

merged_df = pd.merge(df1, df2, on='ID')
print(merged_df)

   ID   Name  Age
0   2  Alice   25
1   3    Bob   30
2   4   Jane   35

### 20] Check whether the given number is a palindrome or not.

In [6]:
def palindrome(original):
    n = original
    reversed = 0

    while n>0:
        remainder = n % 10
        reversed = reversed*10 + remainder
        n = int(n/10)
    
    if reversed == original:
        print('It is a Palindrome number')
    else:
        print('It is not a Palindrome number')

In [8]:
number = 134
palindrome(number)

It is not a Palindrome number

### 21] Reverse Array

In [3]:
def reverse_array(arr):
    n = len(arr)
    result = []
    
    for i in range(n,0,-1):
        result.append(arr[i-1])
        
    return result

In [13]:
arr = [1,2,3,4,5,6,7]

start = 0
end = len(arr)-1

while start < end:
    arr[start], arr[end] = arr[end], arr[start]
    
    start += 1
    end -= 1

arr

[7, 6, 5, 4, 3, 2, 1]

In [16]:
arr = [1,2,3,4,5]
arr[::-1]

[5, 4, 3, 2, 1]

In [15]:
arr = [1,2,3,4,5,6]
reverse_array(arr)

[6, 5, 4, 3, 2, 1]

### 22] Remove nth element

In [8]:
def remove_nth_element(arr, n):
#     arr.pop(n)
    
    arr = arr[:n] + arr[n+1:]
    return arr

In [9]:
arr = [1,2,3,4,5,6]
remove_nth_element(arr, 3)

[1, 2, 3, 5, 6]

### 23] Print first 100 prime numbers after 1001

In [1]:
def is_prime(n):
    for i in range(2,((n//2)+1)):
        if (n % i == 0):
            return False
    return True

count = 0
i = 1001

while (count <= 100):
    if is_prime(i):
        print(i, end=', ')
        count = count + 1
    i = i + 1

1009, 1013, 1019, 1021, 1031, 1033, 1039, 1049, 1051, 1061, 1063, 1069, 1087, 1091, 1093, 1097, 1103, 1109, 1117, 1123, 1129, 1151, 1153, 1163, 1171, 1181, 1187, 1193, 1201, 1213, 1217, 1223, 1229, 1231, 1237, 1249, 1259, 1277, 1279, 1283, 1289, 1291, 1297, 1301, 1303, 1307, 1319, 1321, 1327, 1361, 1367, 1373, 1381, 1399, 1409, 1423, 1427, 1429, 1433, 1439, 1447, 1451, 1453, 1459, 1471, 1481, 1483, 1487, 1489, 1493, 1499, 1511, 1523, 1531, 1543, 1549, 1553, 1559, 1567, 1571, 1579, 1583, 1597, 1601, 1607, 1609, 1613, 1619, 1621, 1627, 1637, 1657, 1663, 1667, 1669, 1693, 1697, 1699, 1709, 1721, 1723,

### 24] Find how many no of notes are required for given amount.

In [7]:
def find_notes(amt,available):
    for i in available:
        if amt >= i:
            a = amt // i
            print(f'Rs {i} : {a}')
            amt = amt % i

In [9]:
amt = int(input('Enter the amount: '))
available = [500, 200, 100, 50, 20, 10, 5, 2, 1]
find_notes(amt,available)

Enter the amount: 2138
Rs 500 : 4
Rs 100 : 1
Rs 20 : 1
Rs 10 : 1
Rs 5 : 1
Rs 2 : 1
Rs 1 : 1

### 25] Check if 3 numbers can form sides of a triangle.

In [10]:
n1 = int(input('Enter number 1: '))
n2 = int(input('Enter number 2: '))
n3 = int(input('Enter number 3: '))

if ((n1>n2+n3) or (n2>n1+n3) or (n3>n1+n2)):
    print('It does not form a triangle')
else:
    print('It forms a triangle')

Enter number 1: 2
Enter number 2: 3
Enter number 3: 7
It does not form a triangle

### 26] abbcbad return most occurred letter. If 2 letters have max occurence return first letter.

In [53]:
def mostOccurence(text):

    result = {}
    
    for i in text:
        if i not in result:
            result[i] = 1
        else:
            result[i] = result[i] + 1
            
    max_val = 0
    max_key = None
    
    for key, value in result.items():
        if value > max_val:
            max_val = value
            max_key = key
            
    return max_key, max_val

In [57]:
mostOccurence('aaabbbb')

('b', 4)

### 27] 1st Day 1 grain, 2nd day 2 grains, 3rd day 4 grains, how many grains in 64th day.

In [20]:
for i in range(64):
    result = 2**i
    print(f'Day {i+1} : {result} grains.')

Day 1 : 1 grains.
Day 2 : 2 grains.
Day 3 : 4 grains.
Day 4 : 8 grains.
Day 5 : 16 grains.
Day 6 : 32 grains.
Day 7 : 64 grains.
Day 8 : 128 grains.
Day 9 : 256 grains.
Day 10 : 512 grains.
Day 11 : 1024 grains.
Day 12 : 2048 grains.
Day 13 : 4096 grains.
Day 14 : 8192 grains.
Day 15 : 16384 grains.
Day 16 : 32768 grains.
Day 17 : 65536 grains.
Day 18 : 131072 grains.
Day 19 : 262144 grains.
Day 20 : 524288 grains.
Day 21 : 1048576 grains.
Day 22 : 2097152 grains.
Day 23 : 4194304 grains.
Day 24 : 8388608 grains.
Day 25 : 16777216 grains.
Day 26 : 33554432 grains.
Day 27 : 67108864 grains.
Day 28 : 134217728 grains.
Day 29 : 268435456 grains.
Day 30 : 536870912 grains.
Day 31 : 1073741824 grains.
Day 32 : 2147483648 grains.
Day 33 : 4294967296 grains.
Day 34 : 8589934592 grains.
Day 35 : 17179869184 grains.
Day 36 : 34359738368 grains.
Day 37 : 68719476736 grains.
Day 38 : 137438953472 grains.
Day 39 : 274877906944 grains.
Day 40 : 549755813888 grains.
Day 41 : 1099511627776 grains.
Day 42 : 2199023255552 grains.
Day 43 : 4398046511104 grains.
Day 44 : 8796093022208 grains.
Day 45 : 17592186044416 grains.
Day 46 : 35184372088832 grains.
Day 47 : 70368744177664 grains.
Day 48 : 140737488355328 grains.
Day 49 : 281474976710656 grains.
Day 50 : 562949953421312 grains.
Day 51 : 1125899906842624 grains.
Day 52 : 2251799813685248 grains.
Day 53 : 4503599627370496 grains.
Day 54 : 9007199254740992 grains.
Day 55 : 18014398509481984 grains.
Day 56 : 36028797018963968 grains.
Day 57 : 72057594037927936 grains.
Day 58 : 144115188075855872 grains.
Day 59 : 288230376151711744 grains.
Day 60 : 576460752303423488 grains.
Day 61 : 1152921504606846976 grains.
Day 62 : 2305843009213693952 grains.
Day 63 : 4611686018427387904 grains.
Day 64 : 9223372036854775808 grains.

### 28] A=1, B=2, c=3,......then XFD=?

In [35]:
str = input('Enter String: ').upper()

n = len(str)
result = 0

for i in str:
    a = ord(i) - 64
    result = result + a * (26**(n-1))
    n = n-1

print(result)

Enter String: XFD
16384